/* Arquivo CSS geral com estilos dos elementos de todas páginas */

* {
  box-sizing: border-box;
}
form {
  background-color: #eee;
  padding: 10px;
}
form div {
  background-color: #fff;
  border: 10px;
  border-bottom: 2px solid #33f;
  margin: 1.2px;
  padding: 1.6rem;
}
label {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: bold;
  color: #66f
}
input {
  padding: 10px;
}

[type="text"], [type="e-mail"], textarea, label{
  display: block;
  width: 100%;
}

body {
  font-family: 'Courier New', monospace;;
  background-color: #000000;
  line-height: 20px;
  color: #8B008B;
  box-sizing: content-box;
  }
 
  


body {
  font-family: 'Courier New', monospace;;
  padding: 10px;
  background: #000000;
}

h1, h2, h3, {
  color: white
  }

/* Style the header */
header {
  background-color: #000000;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color:#FF34B3;
}



/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  background: #000000;
  padding: 10px;
  
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

h2{
  background-color: #000000;
  font-style: italic;
}


*

a:link,  a:visited {
  background-color: #FF34B3;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:link, a:visited, a:active {
  text-decoration: none;
  background-color:#FF34B3; /* Pink */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
a:hover, a:active {
  background-color: rgb(255, 0, 191);
}
article {
  float: left;
  padding: 0.1px;
  width: 70%;
  background-color:#FF34B3;
}


img {
    background-color: #FF34B3;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 100%;
    max-width: 200px;
    max-height:250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
   }
/* Clear floats after the columns */
section::after {
  background: #ccc;
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #8B008B;
  padding: 10px;
  text-align: center;
  color: #000000;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article{
  width: 100%;
  height: auto;}
}
